.wrapper {
  flex: 1;
  bottom: 0;
  height: 5rem;
  width: 100%;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 1rem;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: pink;
}