.main {
  margin: 5rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.postList {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.postLink {
  color: white;
  text-decoration: none;

}
.navWrapper {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.menuWrapper {
  pointer-events: none;
  position: absolute;
  top: 100%;
  right: 1rem;
  width: 10rem;
  height: 10rem;
  text-align: right;
}
.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 2rem 0;
}

.coverText {
  margin: 0 2rem;
}

.content {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.coverImage {
  width: 30rem;
  height: 30rem;
}

.previewImageWrapper {
  width: 20rem;
  height: 20rem;
}

.containImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* backdrop-filter: ; */
}
/* Links to Work */
.worksLinksWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid white;
  padding: 1rem;
  /* backdrop-filter: invert(50%); */
  /* background-color: rgba(255,255,255,0.3); */
}
.worksLinksTitle {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.cvBodyWrapper {
  margin: 5rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 1000px;
}
.cvBodyWrapper > ul {
  text-decoration: none;
  list-style: none;
}
.cvBodyWrapper > h3 {
  text-decoration: underline;
}
.cvBodyWrapper a {
  color: pink;
  padding: 0 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.workLink {
  width: 20rem;
  color: white;
  margin: 0.3rem;
  text-align: right;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  pointer-events: auto; 
}

.workLink:hover {
  color: pink;
}
.workTitle {
  font-size: 1.2rem;
}
.workDate {
  display: block;
  margin: 0 auto;
  float: right;

}

/* homepage calendar */
.calendarWrapper {
  margin: 2rem;
  width: 40rem;
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 0.25fr 0.75fr;
}
.calendarTitle {
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  padding: 0.5rem;
}
.calendarList {
  padding: 0.5rem;
}
.calendarListItem {
  list-style: none;
  margin: 0.5rem 0;

}
.calLinks {
  text-decoration: none;
  color: rgb(200,200,100);
}

/* tablet */
@media (min-width: 600px) and (max-width: 999px) {
  .navWrapper {
    right: 0.5rem;
    top: 0.5rem;
  } 
  .workLink {
    width: 13rem;
  }
  .coverImage {
    width: 20rem;
  }
}
/* mobile */
@media (max-width: 599px) {
  .navWrapper {
    right: 0rem;
    top: 0rem;
  } 
}