.mainImageWrapper {
  width: 7rem;
  height: 7rem;
  margin: 2rem;
  z-index: -1000;
}
.workDetailWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.bigWrapper {
  width: calc(100vw - 8rem);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: minmax(250px, .45fr) [media]1fr;
}
.link {
  color: white;
  text-decoration: none;
}
.infoWrapper {
  padding: 5rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  border-right: 2px solid white;
}
.mediaWrapper {
  padding-left: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 200;
}
.containImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vimeoWrapper {
  position: relative;
  width: 100%; /* Full width */
  padding-bottom: 56.25%; /* Aspect ratio of 16:9 (9/16 = 0.5625 or 56.25%) */
  height: 0; /* Set height to 0 to allow the padding to control the aspect ratio */
  /* overflow: hidden; */
  background-color: #000; /* Optional: background color while the iframe is loading */
  max-width: 800px;
  margin: 0 auto;
}
/* Iframe to fill the container */
.vimeoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border: none;
}
.bodyWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.7rem;
  list-style-type: none;
  width: 100%;
  font-size: 1rem;
  line-height: 180%;
}
.galleryWrapper {
  width: 100%;
  margin: 0 auto;
}

/* tablet */
@media (min-width: 600px) and (max-width: 999px) {
  .bodyWrapper {
    font-size: 1rem;
  }
  .galleryWrapper {
    width: 100%;
    height: 60vw;
  }
}
/* mobile */
@media (max-width: 599px) {
  .bigWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    width: 100%;
    padding: 0 1rem;
    height: auto;
    padding-bottom: 6rem;
  }
  .mediaWrapper {
    padding: 1rem 0 0 0;
  }
  .infoWrapper {
    padding-top: 2rem;
    border-bottom: 2px solid white;
    border-right: none;
  }
  .imageWrapper {
    width: 90%;
    margin: 0 auto;
  }
  .bodyWrapper {
    width: 100%;
    font-size: 1rem;
  }
  .videoWrapper {
    width: 90vw;
    height: 90vw;
  }
  .galleryWrapper {
    width: 95%;
    height: 60vw;
  }
}